.section-top {
  @include section-parameters;
  height: 350px;
  h1 {
    font-size: 2em;
  }
  .sign-up {
    margin-top: 40px;
  }
}
.section-bottom {
  @include section-parameters;
  height: 250px;
  h1 {
    font-size: 1.3em;
  }
  .sign-up {
    margin-top: 20px;
  }
}
